<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

    <select id="queryAllScore" resultType="java.util.Map">
        SELECT
          name,
          sum(score) as score
        FROM
          user
        GROUP BY
          name
    </select>

    <update id="updateScore">
        UPDATE
          user
        SET
          score = score + #{step}
        WHERE
          id = #{id}
    </update>

</mapper>